.formulario {
  display: flex;
  justify-content: center;

  gap: 20px;
  flex-wrap: wrap;

  margin: 80px 36px;
}

.formulario form {
  flex: 1;

  padding: 36px 64px 20px;

  background: #f2f2f2;

  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario .campo-cor {
  display: flex;
}

.campo-cor .campo-text {
  width: 100%;

  justify-content: end;
}

.campo-cor .campo-text input {
  height: 76px;
}
